
{% extends "layout.html" %}

{% block content %}

  <div>
    <div class="d-flex border">
      <div class="flex-shrink-0">
        <img class="rounded-circle account-img" src="{{ image_file }}">
      <div class="flex-grow-1 ms-3">
        <h2>{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <form method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <fieldset>
            <legend class="border-bottom mb-4">Account Info</legend>
            <div class="mb-2">
              {{ form.username.label(class="form-control-label") }}
    
              {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{ form.username(class="form-control form-control-lg") }}
              {% endif %}
    
            </div>
            <div class="mb-2">
              {{ form.email.label(class="form-control-label") }}
              {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{ form.email(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="mb-2">
              {{ form.picture.label }}
              {{ form.picture(class="form-control-file") }}
              {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                  <br><span class="text-danger">{{ error }}</span><br>
                {% endfor %}
              {% endif %}
            </div>
          </fieldset>
          <div class="mt-2">
            {{ form.submit(class="btn btn-outline-success") }}
          </div>
        </form>
      </div>
    </div>
  </div>
  
{% endblock content %}
