{% extends "layout.html" %}

{% block content %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" class="img-fluid rounded-circle account-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a class="card-title" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
        <h2 class="card-text">{{ post.title }}</h2>
        <p class="card-text article-content">{{ post.content }}</p>
        <p class="card-text"><small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d')}}</small></p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}