{% extends "layout.html" %}

{% block content %}

  <h1 class="mb-3">Posts by {{ user.username }} ({{ posts.total }})</h1>

  {% for post in posts.items %}
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-2">
          <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" class="img-fluid rounded-circle m-1" alt="...">
        </div>
        <div class="col-8">
          <div class="card-body">
            <a class="card-title" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <h2 class="card-text"><a class="article-link" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="card-text article-content">{{ post.content }}</p>
            <p class="card-text"><small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d')}}</small></p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if posts.page == page_num %}
      <a class="btn btn-success mb-4" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
      {% else %}
      <a class="btn btn-outline-success mb-4" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}


{% endblock content %}